/*
******************************
CSS Style changer with JQuery
Version: 1.0
Author Name: RoyHridoy
Author URI: https://github.com/RoyHridoy
Project URI: https://github.com/RoyHridoy/CSS-Style-Changer-with-JQuery

******************************
*/

body {
    color: #555;
}
.mainmenu ul li a,
.change-color,
h2,h3,h4 {
    color: #0088ff;
}
.download a:hover {
    color: #fff;
    background-color: #0088ff;
    border-color: #0088ff;
}
